<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583168908802-v5i9un97j95irdo77i8f00d9lt1pibap.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583168908802-v5i9un97j95irdo77i8f00d9lt1pibap</string>
	<key>API_KEY</key>
	<string>AIzaSyBdSn_CDGtVX127X6H1IOcvGLGnZARdxK8</string>
	<key>GCM_SENDER_ID</key>
	<string>583168908802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>APPMeuTreino</string>
	<key>PROJECT_ID</key>
	<string>appmeutreino-3d1cd</string>
	<key>STORAGE_BUCKET</key>
	<string>appmeutreino-3d1cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583168908802:ios:3e049a9afa9d1da7b9911b</string>
</dict>
</plist>